.diobutton {
	width: 96%;
	height: 96%; 
	flex-grow: 1;
	/* border: 1px solid red; */
	margin: 2%;
	/* margin-top: 2%; */
	box-shadow: 0 1px 2px 0 #4f4f59;
	background-color: #0f1113;
	border: 2px solid transparent;
	/* border-transparent: true; */
	/* box-sizing: border-box; */
	display: flex;
}

.diobutton:hover {
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 #030504;
	border: solid 2px #5352ed;
	background-color: #1c2128;
}

.diobutton label {
	font-size: 2rem;
	text-align: center;
	height: 100%;
	margin: 2px;
	/* line-height: 200%; */
	flex-grow: 1;
}

.diobutton img {
	object-fit: contain;
	/* height: 95%;  */
	/* width: 95%;  */
	display:block;
	/* height:90%;
    width:90%; */
	object-position: 5%;
	margin: 2px;
}
*{

	/* border: 1px solid red; */
}